@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;800&family=Open+Sans&display=swap");
:root {
  --small-space: 8px;
  --medium-space: 12px;
  --big-space: 16px;
  --giant-space: 38px;
  --section-width: 90;
}
@media (min-width: 768px) {
  :root {
    --small-space: 10px;
    --medium-space: 12px;
    --big-space: 25px;
    --giant-space: 61px;
    --section-width: 90;
  }
}
@media (min-width: 992px) {
  :root {
    --small-space: 13px;
    --medium-space: 17px;
    --big-space: 33px;
    --giant-space: 80px;
    --section-width: 75;
  }
}
@media (min-width: 1200px) {
  :root {
    --small-space: 16px;
    --medium-space: 20px;
    --big-space: 40px;
    --giant-space: 96px;
    --section-width: 75;
  }
}

body {
  background-color: hsl(48deg, 100%, 96%);
  /*background: url(../assets/patern.svg);*/
  margin: 0;
  padding: 0;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  place-items: center;
  overflow-x: hidden;
}

/*-----------------------Header style-----------------------*/
.header {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  padding: var(--small-space) 0 var(--small-space) 0;
  box-shadow: 0px var(--small-space) var(--small-space) 0px hsla(0deg, 0%, 0%, 0.15);
  z-index: 1;
  margin: 0;
  margin-bottom: var(--giant-space);
  width: 100%;
}
.header > * {
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.header__pictureContainer-picture > img {
  height: var(--big-space);
}
.header__title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: var(--small-space);
  color: hsl(194deg, 50%, 28%);
  margin: var(--small-space) auto 0 auto;
}
.header__nav {
  width: fit-content;
}
.header__nav-list {
  font-family: "Open Sans";
  color: hsl(199deg, 38%, 45%);
  font-weight: 0;
  font-size: var(--small-space);
  margin: 0 auto var(--small-space) auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--medium-space) 0 auto;
  width: fit-content;
}
.header__nav-list-element {
  padding-left: var(--medium-space);
  padding-right: var(--medium-space);
  width: max-content;
}
.header__nav-list-element:last-child {
  padding-left: var(--big-space);
}
.header__nav-list-element-anchor {
  text-decoration: none;
  color: hsl(199deg, 38%, 45%);
  transition: 0.3s;
}
.header__nav-list-element-anchor:hover {
  text-decoration: none;
  color: hsl(194deg, 50%, 28%);
}
.header__nav-list-element-anchor--choosed {
  color: hsl(2deg, 84%, 56%);
}
.header__nav-list-element-anchor--choosed:hover {
  color: hsl(2deg, 84%, 56%);
}
.header__nav-list-element-anchor--button {
  padding: calc(var(--small-space) / 2) calc(var(--small-space) / 2) calc(var(--small-space) / 2) calc(var(--small-space) / 2);
  border-radius: var(--small-space);
  font-family: "Lexend";
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(2deg, 84%, 56%);
  transition: 0.3s;
}
.header__nav-list-element-anchor--button:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(194deg, 60%, 33%);
}

/*-----------------------Section style-----------------------*/
.section {
  position: relative;
  width: calc(var(--section-width) * 1%);
  max-width: 1200px;
  margin-bottom: var(--giant-space);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__card {
  position: relative;
  background-color: hsla(0deg, 0%, 100%, 0.75);
  padding: var(--medium-space);
  border-radius: var(--small-space);
  box-shadow: var(--small-space) var(--small-space) var(--small-space) hsla(0deg, 0%, 0%, 0.15);
  backdrop-filter: blur(1px);
  width: 100%;
}
.section__card--small {
  width: calc(50% - var(--small-space) / 2 - var(--medium-space) * 2);
}
.section__card--topMargin {
  margin-top: var(--small-space);
}
.section__card-title {
  font-family: "Lexend";
  color: hsl(194deg, 50%, 28%);
  font-weight: 400;
  font-size: var(--big-space);
  margin: 0 auto var(--medium-space) auto;
}
.section__card-sub-title {
  font-family: "Open Sans";
  color: hsl(194deg, 60%, 33%);
  font-weight: 0;
  font-size: var(--small-space);
  margin: 0 auto var(--small-space) auto;
}
.section__card-paragraph {
  font-family: "Open Sans";
  color: hsl(199deg, 38%, 45%);
  font-weight: 0;
  font-size: var(--small-space);
  margin: 0 auto var(--small-space) auto;
}
.section__card-paragraph > b {
  color: hsl(194deg, 60%, 33%);
}
.section__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto var(--small-space) auto;
}
.section__card-list--horizontal {
  flex-direction: row;
  overflow-wrap: break-word;
  align-items: baseline;
}
.section__card-list--horizontal > li {
  width: 100%;
}
.section__card-list-element {
  font-family: "Open Sans";
  color: hsl(2deg, 84%, 56%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
  width: 50%;
  min-width: 256px;
  list-style: none;
  overflow-wrap: break-word;
  align-items: baseline;
  margin: 0;
}
.section__card-list-element::before {
  content: "✔";
  font-weight: bold;
  padding-right: 8px;
  color: hsl(2deg, 84%, 48%);
}
.section__card-conclusion {
  font-family: "Open Sans";
  color: hsl(194deg, 50%, 28%);
  font-weight: 0;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
}
.section__card-formule {
  text-align: center;
  font-family: "Lexend";
  color: hsl(2deg, 84%, 48%);
  font-weight: 800;
  font-size: var(--big-space);
  margin: 0 auto var(--medium-space) auto;
}
.section__card-formule > sub {
  color: hsla(2deg, 84%, 56%, 0.75);
  padding-bottom: var(--small-space);
  font-size: var(--small-space);
  font-weight: 400;
}
.section__card-grid {
  display: grid;
  grid-template-columns: calc(50% - var(--small-space) / 2) calc(50% - var(--small-space) / 2);
  grid-template-rows: calc(50% - var(--small-space) / 2) calc(50% - var(--small-space) / 2);
  grid-column-gap: var(--small-space);
  grid-row-gap: var(--small-space);
  width: 100%;
  height: calc(100% - var(--big-space) - var(--medium-space) - var(--small-space));
}
.section__card-grid > * {
  position: relative;
  transition: 0.3s;
}
.section__card-grid-card {
  position: relative;
  background-color: hsla(199deg, 38%, 45%, 0.75);
  padding: var(--small-space);
  border-radius: var(--small-space);
  box-shadow: var(--small-space) var(--small-space) var(--small-space) hsla(0deg, 0%, 0%, 0.15);
  backdrop-filter: blur(1px);
  width: 100%;
  width: calc(100% - var(--small-space) * 2);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
}
.section__card-grid-card--wide {
  grid-column-start: 1;
  grid-column-end: 3;
}
.section__card-grid-card-price {
  font-family: "Open Sans";
  color: hsl(48deg, 100%, 96%);
  font-weight: 400;
  font-size: var(--small-space);
  margin: 0 auto var(--small-space) auto;
  width: 100%;
  word-break: keep-all;
}
.section__card-grid-card-price > b {
  font-family: "Lexend";
  color: hsl(48deg, 100%, 96%);
  font-weight: bold;
  font-size: 200%;
  margin: 0 auto var(--small-space) auto;
}
.section__card-grid-card-price > b::after {
  content: "€";
}
.section__card-grid-card-title {
  font-family: "Lexend";
  color: hsl(48deg, 100%, 96%);
  font-weight: 400;
  font-size: var(--medium-space);
  margin: 0 auto var(--small-space) auto;
}
.section__card-grid-card--hover:hover {
  background-color: hsla(2deg, 84%, 56%, 0.75);
}
.section__card-grid-card--clicked {
  background-color: hsla(2deg, 84%, 56%, 0.75);
}
.section__card-table {
  width: 100%;
}
.section__card-table-data {
  width: 20%;
  height: var(--row-height);
}
.section__card-table-data:not(:first-child) {
  border-right: 10px none solid;
}
.section__card-table-data:not(:first-child)::before {
  content: "";
  position: absolute;
  width: calc(var(--small-space) / 4);
  border-radius: calc(var(--small-space) / 8);
  height: calc(var(--row-height));
  border-radius: 2px;
  background-color: hsla(2deg, 84%, 56%, 0.75);
}
.section__card-table-data:first-child > .section__card-table-data-paragraph {
  margin: 2px 4px 2px 4px;
  color: hsl(48deg, 100%, 96%);
  border-radius: 4px;
  background-color: hsl(199deg, 38%, 45%);
}
.section__card-table-data-paragraph {
  font-family: "Open Sans";
  color: hsl(199deg, 38%, 45%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: var(--row-height);
  max-width: 100%;
}
.section__card-table-row {
  width: 50%;
}
.section__card-table-row:not(:last-child) {
  border-bottom: 10px none solid;
}
.section__card-table-row:not(:last-child)::after {
  content: "";
  position: absolute;
  left: var(--medium-space);
  width: calc(100% - var(--medium-space) * 2);
  height: calc(var(--small-space) / 4);
  border-radius: calc(var(--small-space) / 8);
  background-color: hsla(2deg, 84%, 56%, 0.75);
  transform: translateY(calc(var(--row-height) + 6px));
}

/*-----------------------Footer style-----------------------*/
.footer {
  position: relative;
  z-index: 2;
  background-color: hsl(194deg, 50%, 28%);
  padding: var(--small-space);
  box-shadow: 0px var(--small-space) var(--small-space) 0px hsla(0deg, 0%, 0%, 0.15) inset;
  width: 100%;
}
.footer > * {
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.footer__pictureContainer {
  left: 50%;
  transform: translateX(-50%);
  width: var(--section-width);
  margin: 0 0 var(--medium-space) 0;
}
.footer__pictureContainer-picture > img {
  height: var(--big-space);
  margin-left: var(--medium-space);
}
.footer__contactList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: var(--section-width);
  padding: 0;
  margin: 0 auto var(--small-space) auto;
  justify-content: center;
}
.footer__contactList-element {
  overflow-wrap: break-word;
  display: flex;
}
.footer__contactList-element:not(:last-child)::after {
  content: "•";
  font-family: "Open Sans";
  color: hsl(48deg, 100%, 96%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
  margin-left: var(--small-space);
  margin-right: var(--small-space);
}
.footer__contactList-element-image {
  position: relative;
  width: var(--small-space);
  height: var(--small-space);
  top: 50%;
  transform: translateY(-50%);
  margin-right: var(--small-space);
}
.footer__contactList-element-paragraph {
  font-family: "Open Sans";
  color: hsl(48deg, 100%, 96%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
}
.footer__legal-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: var(--section-width);
  padding: 0;
  margin: 0 auto var(--small-space) auto;
  justify-content: center;
}
.footer__legal-list-element-anchor {
  text-decoration: none;
  overflow-wrap: break-word;
  font-family: "Open Sans";
  color: hsl(199deg, 38%, 45%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
  transition: 0.3s;
}
.footer__legal-list-element-anchor:hover {
  color: hsl(48deg, 100%, 96%);
}
.footer__legal-list-element:not(:last-child)::after {
  content: "•";
  font-family: "Open Sans";
  color: hsl(199deg, 38%, 45%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
  margin-left: var(--small-space);
  margin-right: var(--small-space);
}
.footer__legal-mentions {
  overflow-wrap: break-word;
  font-family: "Open Sans";
  color: hsl(199deg, 38%, 45%);
  font-weight: 300;
  font-size: var(--small-space);
  margin: 0 auto 0 auto;
  margin: 0 auto 0 auto;
}

/*# sourceMappingURL=style.css.map */
